@import "./../../styles/main.scss";
.logo-wrapper {
    display: flex;
    align-items: center;
    color: $background-color;
    font-size: 24px;
    img {
        width: 64px;
        margin-right: 12px;
    }
    @media only screen and (max-width: 1024px) {
        order: 1;
        font-size: 18px;
        img {
            width: 32px;
            margin-right: 6px;
        }
    }
    .logo-text {
        text-align: center;
    }
}
