@import "./../../styles/main.scss";
.logo-wrapper {
    display: flex;
    align-items: center;
    color: $background-color;
    font-size: 24px;
    img {
        width: 64px;
        margin-right: 12px;
    }
    .logo-text {
        text-align: center;
    }
}
