@import "../../styles/main.scss";

.results-box-wrapper {
    height: 90vh;
    background-color: $background-color;
    padding: 24px;
    overflow: auto;
}
.result-card {
    border-color: $text-color;
}
